# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
/back-end/conf/config.yml
/back-end/back-end


/front-end/node_modules/
/front-end/.expo/
/front-end/npm-debug.*
/front-end/*.jks
/front-end/*.p8
/front-end/*.p12
/front-end/*.key
/front-end/*.mobileprovision
/front-end/*.orig.*
/front-end/web-build/
